# python
__pycache__/
*.py[cod]
*$py.class
/.venv
/poetry.lock

# pytest
.pytest_cache/
/pytest_temp/

# build
/dist
/build

# vscode
.vscode
/*.code-workspace
/.editorconfig

# other
[Tt][Ee][Mm][Pp]*
